body {
  font-family: 'Hepta Slab', sans-serif;
  background-color: rgb(229 231 235);
  color: #121214;
}

main {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  justify-items: center;
}

.container {
  position: relative;
  width: 300px;
  outline: 4px solid transparent;

  /* overflow: hidden; */
  color: white;
  transition: all .4s;
}

.container span {
  font-size: 1.25rem;
  width: 268px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;

  position: absolute;
  bottom: 0;

  background-image: linear-gradient(to bottom, transparent, black 80%);
  /* background-color: #121214; */
  visibility: hidden;
  opacity: 0;

  padding-inline: 16px;
  padding-bottom: 8px;

  transition: all .4s;
}


.container:hover span {
  visibility: visible;
  opacity: 1;
}

.container:hover {
  outline-color: white;

  transform: scale(1.05);
}

main {
  margin-top: 1.25rem;
}

.btn-go-back {
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 24px;
}

.avatarWithBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 132px;
  border-radius: 8px;
  border: 2px solid #202024;
  outline: 5px solid #151557;
  background-color: rgb(229 231 235);
}

.avatarWithBorder > img {
  width: 132px;
  height: auto;
  background-size: 100% 100%;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #121214;
}

a {
  text-decoration: none;
  color: #121214;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.box-icons {
  display: flex;
  gap: .5rem;
  justify-content: end;
  align-items: center;
}

button[type="submit"] {
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-delete {
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.ph-arrow-fat-left {
  font-size: 32px;
}

.ph-heart,
.ph-trash {
  color: #121214;
  font-size: 24px;
}

.ph-fill.ph-heart {
  color: red;
}


.ph-trash:hover,
.ph-heart.ph-thin:hover {
  color: red;
}

.image-box {
  width: auto;
  height: 800px;
  display: flex;
  
}

.image-content {
  width: 600px;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.avatarProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid #121214;
  border-radius: 99999999px;
  background-color: rgb(229 231 235);
  width: 50px;
  height: 50px;
}

#openModalBtn {
  display: flex;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: #151557;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
}

#openModalBtn:hover {
	background-color: #212187;
}

#openModalBtn:focus-visible {
	outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #212187;
}

/* Estilos básicos para o modal */
.modal {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 8px;
}

.modal h2 {
  color: #121214;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#likesList {
  list-style-type: none;
  padding: 0;
  margin-top: 16px;
}

#likesList li {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #f2f2f2;
  /* margin-top: 16px; */
}

#likesList li:hover {
  background-color: #ddd;
}

small {
  font-size: 80%
}

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  aspect-ratio: 1/1;
}

.w3-btn,.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-disabled,.w3-btn:disabled,.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.w3-sidebar {
  height: 100%;
  width: 250px;
  background-color: #fff;
  position: fixed!important;
  z-index: 3;
  left: 0;
  top: 0;
}

.w3-main,#main {
  transition: margin-left .4s
}

.w3-bar {
  width: 100%;
  overflow: hidden
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto
}

.w3-bar .w3-bar-item {
  display: block;
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  outline: 0
}

.w3-bar .w3-button {
  white-space: normal
}

.w3-bar-block .w3-bar-item {
  width: 218px;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  color: #121214;
}

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center
}


.w3-third {
  float: left;
  width: 100%
}

.w3-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.w3-hide {
  display: none!important
}

@media (max-width: 600px) {
  .w3-modal-content {
      margin:0 10px;
      width: auto!important
  }

  .w3-modal {
      padding-top: 30px
  }

  .w3-hide-small {
      display: none!important
  }
}

@media (max-width: 768px) {
  .w3-modal-content {
      width:500px
  }

  .w3-modal {
      padding-top: 50px
  }
}

@media (min-width: 993px) {
  .w3-modal-content {
      width:900px
  }

  .w3-hide-large {
      display: none!important
  }

  .w3-sidebar.w3-collapse {
      display: block!important
  }
}

@media (max-width: 992px) and (min-width:601px) {
  .w3-hide-medium {
      display:none!important
  }
}

@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
      display:none
  }

  .w3-main {
      margin-left: 0!important;
      margin-right: 0!important
  }

  .image-box {
    height: 600px;
  }
  
  .image-content {
    width: 400px;
  }
}

@media (max-width: 1600px) {
  .image-box {
    height: 600px;
    padding-inline: 32px;
  }
  
  .image-content {
    width: 500px;
  }
}

.w3-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2
}

.w3-circle {
  border-radius: 50%
}

.w3-container {
  padding: 0.01em 16px
}

.w3-animate-opacity {
  animation: opac 0.8s
}

@keyframes opac {
  from {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
      left: -300px;
      opacity: 0
  }

  to {
      left: 0;
      opacity: 1
  }
}

.w3-xxlarge {
  font-size: 36px!important
}

.w3-jumbo {
  font-size: 64px!important
}

.w3-center {
  text-align: center!important
}

.w3-bottombar {
  border-bottom: 6px solid #ccc!important
}

.w3-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important
}

.w3-margin {
  margin: 16px!important
}

.w3-margin-top {
  margin-top: 16px!important
}

.w3-margin-left {
  margin-left: 16px!important
}

.w3-margin-right {
  margin-right: 16px!important
}

.w3-padding {
  padding: 8px 16px!important
}

.w3-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important
}

.w3-padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important
}

.w3-right {
  float: right!important
}

.w3-button:hover {
  color: #000!important;
  background-color: #ccc!important
}