<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/add-photo.css" />
  <title>add-photo</title>
</head>
<body>

  <form method="post" enctype="multipart/form-data">
    <div class="containerForm">
      <div class="container">
        <h1 class="">Adicionar foto</h1>

        <div class="containerInputs">
          <div class="containerTitle">
            <label for="title" class="">Título</label>
            <input type="text" name="title" id="title" autocomplete="" class="">
            <% if (locals.errors && errors.title) { %>
              <p class="error"><%= errors.title %></p>
            <% } %>
          </div>

          <div class="containerDescription">
            <label for="description" class="">Descrição</label>
            <textarea id="description"name="description" rows="3" class="" placeholder="Descreva em poucas sentenças sobre a sua foto."></textarea>
            <% if (locals.errors && errors.description) { %>
              <p class="error"><%= errors.description %></p>
            <% } %>
          </div>

          <div class="containerTags">
            <label for="tags" class="">Tags</label>
            <input type="text" name="tags" id="tags" placeholder="ex.: #tag#tag">
            <% if (locals.errors && errors.tags) { %>
              <p class="error"><%= errors.tags %></p>
            <% } %>
          </div>

          <div class="containerDescription">
            <span class="labelPhoto">Upload a file</span>
            <div class="">
              <div class="box-dashed">
                <div class="containerUploadPhoto">
                  <label for="file-upload" class="">
                    <input id="file-upload" name="file-upload" type="file" class="sr-only">
                  </label>
                </div>
                <p class="">PNG, JPG, GIF, JPEG</p>
              </div>
            </div>
            <% if (locals.errors && errors.file) { %>
              <p class="error"><%= errors.file %></p>
            <% } %>
          </div>
        </div>
      </div>


    </div>

    <div class="containerBtn">
      <a href="/home" type="button" class="btnCancel">Cancel</a>
      <button type="submit" class="btnSave">Save</button>
    </div>
  </form>

</body>
</html>