<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <title>Fake Pinterest</title>
</head>
<body>
  <div class="containerLogin">
    <div class="containerLoginImage">
      <h2 class="">Crie sua conta</h2>
    </div>
  
    <div class="formLogin">
      <form class="" method="post">
        <div class="inputEmail">
          <label for="firstname" class="">Nome</label>
          <input id="firstname" name="firstname" type="text" autocomplete="name" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

        <div class="inputEmail">
          <label for="lastname" class="">Sobrenome</label>
          <input id="lastname" name="lastname" type="text" autocomplete="name" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

        <div class="inputEmail">
          <label for="username" class="">Nome de usuário</label>
          <input id="username" name="username" type="text" autocomplete="username" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        
        <div class="inputEmail">
          <label for="email" class="">Email</label>
          <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

        <div class="inputPassword">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Senha</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        
        <div class="inputPassword">
          <label for="confirmPassword" class="block text-sm font-medium leading-6 text-gray-900">Confirmar senha</label>
          <input id="confirmPassword" name="confirmPassword" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
  

        <button type="submit" class="btn-login">Criar</button>

      </form>
  
      <p class="messageNotMember">
        Já possui conta?
        <a href="/" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">voltar á tela de login</a>
      </p>
    </div>
  </div>
</body>
</html>