<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <title>Fake Pinterest</title>
</head>
<body>
  <div class="containerLogin">
    <div class="containerLoginImage">
      <img class="" src="assets/icon-pinterest-fake.png" alt="Icone Pinterest Fake">
      <h2 class="">Faça login em sua conta</h2>
    </div>
  
    <div class="formLogin">
      <form class="" method="POST">
        <div class="inputEmail">
          <label for="email" class="">Email</label>
          <input id="email" name="email" type="email" autocomplete="email" class="">
          <% if (locals.errors && errors.email) { %>
            <p class="error"><%= errors.email %></p>
          <% } %>
        </div>
  

        <div class="inputPassword">
          <label for="password" class="">Senha</label>
          <input id="password" name="password" type="password" autocomplete="current-password" class="">
          <% if (locals.errors && errors.password) { %>
            <p class="error"><%= errors.password %></p>
          <% } %>
        </div>

        <% if ((locals.errors && errors.user) && (!errors.email && !errors.password)) { %>
          <p class="error"><%= errors.user %></p>
        <% } %>

        <button type="submit" id="login-button" class="btn-login">Entrar</button>

      </form>
  
      <p class="messageNotMember">
        Não possui conta?
        <a href="/create-user" class="">Cadastre-se aqui</a>
      </p>
    </div>
  </div>

</body>
</html>